<!-- BEGIN CONSULTING -->
<section id="system-design-and-consulting" class="services-container">
    <div class="row">
        <div class="col-md-12 mg-bt-40">
            <div class="header-content">
                <h1>System design and IT consulting</h1>
            </div>
            <p>We have great experience in using various <a href="/#technologies">technologies</a> and architectural
                approaches. We are ready to share and help you in making use of these
                technologies and building agile and scalable systems.</p>
            <p>We provide services in these areas:</p>
            <ul class="list">
                <li>
                    <p>
                        <strong>MongoDB consulting</strong>
                        <br>Our experts are ready to solve problems of different levels of complexity in designing optimal data model,
                        configuration proper sharding infrastructure,
                        optimization of database queries, aggregation, reporting pipeline,
                        speeding up performance.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>ElasticSearch consulting</strong>
                        <br>
                        Design, optimize or provide configuration for Search and Big Data based systems.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Distributed scalable high-load application</strong>
                        <br>
                        Define flexible, easy scalable (vertical and horizontal) architecture, which focused on specific problems
                        and operate efficiently.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Apache Kafka consulting</strong>
                        <br>
                        Select proper cluster configuration, tune up performance, adopt to customer specific needs.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Cloud services consulting</strong>
                        <br>
                        Help to design system which could easily scale and efficiently operate with cloud service infrastructure provided by cloud vendors (Azure, AWS etc.)
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Dynamics CRM consulting</strong>
                        <br>
                        Map your business requirements to CRM infrastructure (configure existing Dynamics CRM features and flows or implement business specific processes),
                        dashboards and reporting, migrate from Dynamics CRM 2011 to Dynamics CRM 2013, integration with other systems and services
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Choosing particular technologies for your project and team</strong>
                        <br>In a wide range of technologies help you to focus only on those which can solve your specific problems
                        with respect to your current project team and expertise.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- END CONSULTING -->