<!-- BEGIN CONSULTING -->
<section id="system-design-and-consulting" class="services-container">
    <div class="row">
        <div class="col-md-12 mg-bt-40">
            <h2>System design and IT consulting</h2>
            <p>We have great experience in using various <a href="/#technologies">technologies</a> and architectural
                approaches that is why we are ready to help others in making use of these
                technologies and building agile and scalable systems.</p>

            <h4><a href="/#contact">Contact us</a> in case you need help, troubleshooting or consulting in the following areas:</h4>
            <ul class="list">
                <li>MongoDB</li>
                <li>ElasticSearch</li>
                <li>Distributed scaleable high-load application</li>
                <li>Cloud based application development (AWS, Azure)</li>
                <li>Choosing particular technologies for your project and team</li>
            </ul>
        </div>
    </div>
</section>
<!-- END CONSULTING -->