<!--BEGIN CTO AS A SERVICE TEAM-->
<section id="dedicated-team" class="services-container">
    <div class="row">
        <div class="col-md-12 mg-bt-40">
            <h2>CTO as a service
            </h2>
            <p>
                We are ready to offer you <strong>“CTO/VP of development as a service”</strong>.
                We understand how difficult it is to find a specialist possessing extraordinary technical
                skills and deep knowledge of the IT area who can take your processes to a whole new level
                and improve the client`s team efficiency. That is why you can employ some of our topnotch
                specialists who possess unchallenged knowledge, loyalty and responsibility. The offer is limited
                and is available in case of a <strong>long-term relationship</strong> only.
            </p>
        </div>
    </div>
</section>
<!--END CTO AS A SERVICE-->