<!--BEGIN CTO AS A SERVICE TEAM-->
<section id="dedicated-team" class="services-container">
    <div class="row">
        <div class="col-md-12 mg-bt-40">
            <div class="header-content"><h1>CTO as a service</h1></div>
            <p>
                We are ready to offer you the best specialists fo the role of <strong>virtual CTO or VP of development</strong>.</p>

            <p>We understand how difficult it is to find a specialist possessing extraordinary technical
                skills and deep knowledge of the IT area. The specialist which will be able to take your processes to a whole new level
                and improve the client`s team efficiency. That is why you can hire some of our topnotch
                specialists with unchallenged knowledge, loyalty and responsibility.</p>

            <p> The offer is limited
                and is available in case of a <strong>long-term relationship</strong> only.
            </p>
        </div>
    </div>
</section>
<!--END CTO AS A SERVICE-->