
<!--BEGIN DEDICATED TEAM-->
<section id="dedicated-team" class="services-container">
    <div class="row">
        <div class="col-md-12 mg-bt-40">
            <h2>Dedicated team
            </h2>
            <p>
                <strong><a href="/#home">Centaureа</a></strong> is ready to offer you a team of <a href="/#about">highly qualified professionals</a>
                possessing necessary <a href="/#technologies">skills</a> and deep <a href="/#technologies">knowledge</a> needed to achieve the client`s
                goals while spending reasonable amount of resources.
            </p>
            <p>
                Dedicated team model allows companies to hire their own software development
                staff and manage them directly and it’s ideal for any company who needs more
                developers and IT professionals, but is unable to hire them because of variety of different reasons.
            </p>
            <p>
                If you do not have the required staff at the moment, <a href="/#contact">we are ready</a> to personally build
                the team you need (this option is available in case of a <strong>long-term cooperation only</strong>).
            </p>
        </div>
    </div>
</section>
<!--END DEDICATED TEAM-->