<!-- BEGIN DEVELOPMENT -->
<section id="software-design-and-development" class="services-container" >
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mg-bt-20">Solutions design and development.</h2>
                    <p>
                        Centaureа <a href="/#about">team</a> has been dealing with business systems
                        of different levels and complexity. Our
                        <a href="/#about">clients</a> vary from lifestyle businesses and start-ups to the enterprise level companies and
                        global market leaders.
                        In order to find the best solutions at the market we pay great attention to the development
                        of <strong>architecture</strong> and the use of <strong>contemporary practices</strong> and <strong>modern technologies</strong> that help your
                        business to stay on top even among the toughest competitors.
                    </p>
                </div>
                <div class="col-md-12 solutions text-center mg-bt-20">
                    <h4 class="mg-bt-40">Over the last years we have developed different kind of solutions:</h4>
                    <div class="col-md-2">
                        <span class="fa fa-shopping-cart"></span>
                        <p>Systems for web-stores and e-commerce</p>
                    </div>
                    <div class="col-md-2">
                        <span class="fa fa-comments"></span>
                        <p>Systems for storing, processing and analysis large volumes of social media data (Twitter, Facebook, etc.)</p>
                    </div>
                    <div class="col-md-2">
                        <span class="fa fa-usd"></span>
                        <p>Banking and investment systems </p>
                    </div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-phone"></span>
                        <p>Data processing and analytics systems for mobile platforms</p>
                    </div>
                    <div class="col-md-2">
                        <span class="fa fa-map-marker"></span>
                        <p>Geo-location data processing systems</p>
                    </div>
                    <div class="col-md-2">
                        <span class="fa fa-btc"></span>
                        <p>Cryptocurrency systems</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p>By paying great attention to the <strong>architecture</strong>, constantly searching and experimenting we have obtained
                        system engineering experience, based on such models as:</p>
                    <ul class="list">
                        <li>Pub/Sub</li>
                        <li>Client-Server</li>
                        <li>Event-Driven Architecture</li>
                        <li>Service Oriented Architecture (SOA)</li>
                        <li>CQRS</li>
                        <li>Event Sourcing</li>
                        <li>Lambda Architecture</li>
                        <li>N-Tier design and others</li>
                    </ul>
                    <p>Quality is an integral attribute of our systems that is why <strong>TDD/BDD</strong> is our usual everyday practice.</p>
                </div>

                <div class="col-md-6 technologies">
                    <p>In our solutions we use topnotch technologies, the coolest platforms and variety of languages:<p>
                    <ul class="list">
                        <li>NoSQL databases (<strong>MongoDB, DynamoDB, CouchDB, Couchbase</strong> and many others)</li>
                        <li>Distributed processing and computation systems (<strong>Apache Hadoop, Apache Storm, Apache  Spark</strong>)</li>
                        <li>Message queues (<strong>RabbitMQ, MSMQ</strong> based on <strong>ZeroMQ,  Apache Kafka</strong>)</li>
                        <li>Full text search  based on <strong>Lucene</strong> and <strong>ElasticSearch</strong></li>
                        <li>CRM systems (<strong>Dynamics CRM</strong> and <strong>Salesforce</strong>)</li>
                        <li>CMS based applications (such as <strong>Sitecore</strong>)</li>
                        <li>As UI development tools we use <strong>Angular.js</strong> and <strong>jQuery</strong></li>
                        <li>The main programming languages we code are <strong>C#/.NET, Java, Ruby, Python, JavaScript</strong> and <strong>С/C++</strong> for algorithms and components that require uncompromised performance</li>
                    </ul>
                    <div id="slider-services">
                        <div class="text-center">
                            <h4>NoSQL databases</h4>
                            <img src="/public/images/technologies/tech-mongodb-logo.jpg" alt="mongodb">
                            <img src="/public/images/technologies/tech-couchdb-logo.jpg" alt="couchdb">
                            <img src="/public/images/technologies/tech-dynamodb-logo.jpg" alt="dynamodb">
                            <img src="/public/images/technologies/tech-couchbase-logo.jpg" alt="couchbase">
                        </div>
                        <div class="text-center">
                            <h4>Distributed processing and computation systems</h4>
                            <img src="/public/images/technologies/tech-hadoop-logo.jpg" alt="apache hadoop">
                            <img src="/public/images/technologies/tech-apachestorm-logo.jpg" alt="apache storm">
                            <img src="/public/images/technologies/tech-apachespark-logo.jpg" alt="apache spark">
                        </div>
                        <div class="text-center">
                            <h4>Message queues</h4>
                            <img src="/public/images/technologies/tech-rebbitmq-logo.jpg" alt="rabbitmq">
                            <img src="/public/images/technologies/tech-zeromq-logo.jpg" alt="zeromq">
                            <img src="/public/images/technologies/tech-apachekafka-logo.jpg" alt="apache kafka">
                        </div>
                        <div class="text-center">
                            <h4>Full text search</h4>
                            <img src="/public/images/technologies/tech-lucene-logo.jpg" alt="lucene">
                            <img src="/public/images/technologies/tech-elasticsearch-logo.jpg" alt="elsticsearch">
                        </div>
                        <div class="text-center">
                            <h4>CRM systems</h4>
                            <img src="/public/images/technologies/tech-msdynamics-logo.jpg" alt="dynamics crm">
                            <img src="/public/images/technologies/tech-salesforce-logo.jpg" alt="salesforce">
                        </div>
                        <div class="text-center">
                            <h4>CMS based applications</h4>
                            <img src="/public/images/technologies/tech-sitecore-logo.jpg" alt="sitecore">
                        </div>
                        <div class="text-center">
                            <h4>UI development</h4>
                            <img src="/public/images/technologies/tech-angularjs-logo.jpg" alt="angular">
                            <img src="/public/images/technologies/tech-jquery-logo.jpg" alt="jquery">
                        </div>
                        <div class="text-center">
                            <h4>Programming languages</h4>
                            <img src="/public/images/technologies/tech-csharp-net-logo.jpg" alt="c#-net">
                            <img src="/public/images/technologies/tech-java-logo.jpg" alt="java">
                            <img src="/public/images/technologies/tech-javascript-logo.jpg" alt="javascript">
                            <img src="/public/images/technologies/tech-ruby-logo.jpg" alt="ruby">
                            <img src="/public/images/technologies/tech-python-logo.jpg" alt="python">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DEVELOPMENT -->