
<!--BEGIN MONGODB AS A SERVICE-->
<section id="mongodb-as-a-service" class="services-container">
    <div class="row">
        <div class="col-md-12 mg-bt-40">
            <h2>MongoDB as a service
            </h2>
            <p>Having great working experience with <a href="/#technologies">MongoDB</a>  database, we are ready to provide our
                clients with such a unique offer as <strong>“MongoDB as a Service”</strong>.
                No longer you have to think about data scaling, validity, backups and many other things.
                By virtue of our professional knowledge we provide you with MongoDB, which simply works.
                We are also ready to support and ensure the smooth operation of all your systems and infrastructures.
                Entrust your data and systems to our specialists. <a href="/#contact">Contact us</a> for further information.</p>
            <p>Checkout the options which available and choose the best for you:</p>
            <div class="mg-bt-20">
                <table>
                    <thead>
                        <tr>
                            <th>Feature</th>
                            <th>Elastic Deployments</th>
                            <th>Dedicated</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Cost</td>
                        <td>$16/GB/mo</td>
                        <td>Depends on Config</td>
                    </tr>
                    <tr>
                        <td>Data Allowed</td>
                        <td>Autoscales, No Limits</td>
                        <td>Depends on Config</td>
                    </tr>
                    <tr>
                        <td>Production Ready</td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Monitoring Tools</td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Multiple Users</td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>SSD Storage</td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Location Selection</td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Ram</td>
                        <td>1GB per 10GB of data</td>
                        <td>Depends on Config</td>
                    </tr>
                    <tr>
                        <td>Replica Set</td>
                        <td>Yes</td>
                        <td>Add-on</td>
                    </tr>
                    <tr>
                        <td>Regular Backups Included</td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Email Support</td>
                        <td>Yes, Prioritized</td>
                        <td>Yes, Prioritized</td>
                    </tr>
                    <tr>
                        <td>Sharding</td>
                        <td>Possible, but custom</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Firewall &amp; Port Rules</td>
                        <td>No</td>
                        <td>Possible, but custom</td>
                    </tr>
                    <tr>
                        <td>Admin Access to DB</td>
                        <td>No</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Text Search Enabled</td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--END MONGODB AS A SERVICE-->