<p>
    In my previous posts I’ve already mentioned differences in <a
        href="/blog?name=dynamicscrm-vs-salesforce-customization-security-model">security model</a> and <a
        href="/blog?name=dynamicscrm-vs-salesforce-ui-business-model-customization">business model</a> configuration.
    When we
    deal with large CRM system we will face with huge amount of data. It is impossible to perform some kind of analysis
    without visualization and smart data grouping. So, dashboards and reports help to solve this problem.
