<!-- BEGIN BLOG -->
<section id="blog" class="blog">
    <div class="row">
        <div class="col-md-9">
            <div id="primary" class="row">
                <div class="col-md-12">
                    <!-- BEGIN ARTICLE -->
                    <article class="post">
                        <h1><a class="inverted" href="/blog?name=how-mongodb-indexes-depends-on-ram-and-io-operations">Introduction to MongoDB indexing: How MongoDB indexes depend on memory and I/O operations</a></h1>
                        <div class="post-meta">
                            <span class="author">Centaurea</span>
                            <span class="dates">18 December 2014</span>
                        </div>
                        <div class="post-content">
                            <p>Mongodb designed to provide perfect read operations performance and oriented for read
                                access as much as it possible.  And main source to achieve this results is indexing.
                                So when you query any data or making any aggregation mongodb try to utilize indexes as
                                much as it possible, nevermind is it a simple queries or complex aggregation pipelines
                                (that’s why proper compound indexes could massively improve aggregation queries) <a href="/blog?name=how-mongodb-indexes-depends-on-ram-and-io-operations">[...]</a> </p>
                            <a class="btn btn-dark medium" href="/blog?name=how-mongodb-indexes-depends-on-ram-and-io-operations">Read More</a>
                        </div>
                    </article>
                    <!-- END ARTICLE -->
                    <!-- BEGIN ARTICLE -->
                    <article class="post">
                        <h1><a class="inverted" href="/blog?name=mongodb-memory-allocation-and-cache-management">Introduction to MongoDB memory allocation and cache management</a></h1>
                        <div class="post-meta">
                            <span class="author">Centaurea</span>
                            <span class="dates">18 December 2014</span>
                        </div>
                        <div class="post-content">
                            <p>MongoDB uses memory mapped files for file management, so in this component it relies a
                            lot on OS side. But let’s look at it based on linux OS. MongoDB maps files into memory
                            using standard <i>mmap</i> call from <i>glibc</i>.
                            <p>How it works.
                                On start, MongoDB maps all its data storage files into memory. RAM is not used at all,
                                this process only reserves the address space. This is reflected as virtual memory usage
                                by mongod process. They can be found either in <i>top (VIRT)</i> or in MongoDB monitor
                                (Memory Virt). Basically they reflect the data + indexes size. Res/RSS memory usage
                                doesn't reflect anything relevant at all
                                <a href="/blog?name=mongodb-memory-allocation-and-cache-management">[...]</a> </p>
                            <a class="btn btn-dark medium" href="/blog?name=mongodb-memory-allocation-and-cache-management">Read More</a>
                        </div>
                    </article>
                    <!-- END ARTICLE -->
                </div>
            </div>
        </div>
        <div class="col-md-3 widgetbar">
            <!-- /widget -->

            <div class="row widget">
                <div class="col-md-12">
                    <div class="categories-widget">
                        <h3 class="widget-title">
                            Categories
                        </h3>
                        <ul>
                            <li>
                                MongoDB
                            </li>
                            <li>
                                Database indexing
                            </li>
                            <li>
                                NoSQL databases
                            </li>
                            <li>
                                Database optimization
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /widget -->

        </div>
    </div>
</section>
<!-- END BLOG -->