<section class="coming-soon">
    <div class="content ">
        <div class="app-image-wrapper">
            <span>
                <img class="app-image" src="/public/images/pexels-photo-1920.jpg">
            </span>
        </div>

        <div class="details">

            <div class="row">
                <div class="col-md-12 text-center mg-bt-30">
                    <p class="h0">
                        Thanks!
                    </p>
                    <p class="h3">
                        We will keep you in touch
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>