<section class="coming-soon">
    <div class="content ">
        <div class="app-image-wrapper">
            <span>
                <img class="app-image" src="/public/images/pexels-photo-1920.jpg">
            </span>
        </div>

        <div class="details">

            <div class="row">
                <div class="col-md-12 text-center mg-bt-30">
                    <p class="h0">
                        <a href="" class="main-page-link">
                            <img src="/public/images/flower_on_bg_medium.png" width="42">
                            Centaurea
                        </a>
                        rethinks productivity!
                    </p>

                    <p class="h2">
                        Coming soon for iOS and Android.
                    </p>

                    <!--<p class="h1">-->
                        <!--Subscribe to receive updates!-->
                    <!--</p>-->
                </div>

                <div class="col-sm-2 col-md-4"></div>
                <div class="col-sm-8 col-md-4 text-center mg-bt-20">
                    <form role="form" action="/info/email" method="get">
                        <div class="input-group">
                            <input type="email" class="form-control"
                                   id="useremail" name="useremail" placeholder="Your email" required>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-dark">Subscribe</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2 col-md-4"></div>
            </div>
        </div>
    </div>
</section>