<section class="coming-soon">
    <div class="content ">
        <div class="app-image-wrapper">
            <span>
                <img class="app-image" src="/public/images/pexels-photo-1920.jpg">
            </span>
        </div>

        <div class="details">

            <div class="row">
                <div class="col-md-12 text-center ">
                    <p class="h0">
                        <a href="" class="main-page-link">
                            <img src="/public/images/flower_on_bg_medium.png" width="42">
                            Centaurea
                        </a>
                        rethinks productivity!
                    </p>

                    <p class="h6">
                        Coming soon for iOS and Android.
                    </p>

                    <p class="h1">
                        Subscribe to receive updates!
                    </p>
                </div>

                <div class="col-sm-3 col-md-4"></div>
                <div class="col-sm-6 col-md-4 text-center">
                    <form role="form" action="/info/email" method="get">
                        <div class="row">
                            <input type="email" class="form-control col-sm-12"
                                   id="useremail" name="useremail" placeholder="Your email" required>

                            <div class="col-sm-12 mg-bt-20">
                                <button type="submit" class="btn btn-dark big">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3 col-md-4"></div>
            </div>
        </div>
    </div>
</section>